<div class="max-w-3xl mx-auto">
  <%= form_for @stakeholder_update do |form| %>
    <%= form.text_field :confirmed_at, type: 'hidden', value: nil %>

    <div class="mb-4">
      <label for="title" class="block text-sm font-medium leading-6 text-gray-900">Title / Headline</label>
      <div class="mt-2">
        <%= form.text_field :title, required: true, placeholder: 'July 2023 Newsletter', class: 'block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6' %>
      </div>
      <small> This will be used as a clickable link to your update in email newsletters.</small> 
    </div>
    <div class="field">
      <%= form.rich_text_area :content %>
    </div>
    <div class="mt-2 text-right">
      <button type="submit" class="w-full inline-flex justify-center rounded-md border border-transparent bg-brand-orange hover:bg-brand-orange-dark py-2 px-4 text-sm font-medium text-white shadow-sm focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">Preview and Confirm</button>
    </div>
  <% end %>
</div>